@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* z-index: 100000; */
  /* text-decoration: none; */
}
/* body{
  font-size: 62.5%;
} */
.signup-main {
  width: 100%;
  height: 100vh;
  /* background:linear-gradient(180deg,	#FF00FF, ); */
  /* background: linear-gradient(180deg,#c49ee9, #27187d); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.signup-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup-left h1 {
  font-size: 2.2rem;
  /* color: #fff; */
  margin-bottom: 12px;
  font-weight: 500;
}
.signup-left p {
  /* color: #fff; */
  text-align: center;
  width: 52%;
  font-size: 0.8rem;
}
.signup-main .signup-left img {
  width: 72%;
  height: 72vh;
  /* //ite a expeiment */
  /* filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.35)); */
}
.signup-right {
  margin-right: 5rem;
  width: 30%;
  height: 90vh;
  /* background-color: rgba(255, 255, 255, 0.909); */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 100000;
  backdrop-filter: blur(10px);
  /* box-shadow: 10px 10px 10px 10px rgb(0, 0, 0,0.465); */
  /* box-shadow: 0px 4px 20px 10px rgb(0, 0, 0, 0.465); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.signup-right .signup-heading {
  /* height: 15vh;
  /* border: 2px solid black; */
  /* text-align: center;
  margin-top: -68px;  */
  height: 12vh;
    /* border: 2px solid black; */
    text-align: center;
    margin-top: 20px;
}
.signup-right .signup-heading h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
  /* color: #720e9e; */
}
.signup-right .signup-heading p {
  font-size: 0.7rem;
  color: #720e9e;
  width: 80%;
  margin: auto;
}
.signup-right .signup-formarea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 67vh;
  /* border: 1px solid; */
}
.signup-right .form {
  width: 80%;
  display: flex;
  /* border: 2px solid red; */
  flex-direction: column;
  /* padding: 10px; */
}
.signup-right .signup-formarea .form .input,.select ,.upload {
  padding: 7px 7px;
  margin: 6px 0;
  background: transparent;
  border: 0.5px solid #7774778c;
  font-size: 0.8rem;
  width: 100%;
  border-radius: 4px;
  color: gray;
}
.signup-right .signup-formarea .form .select ,.upload {
    padding: 5px 5px;
    margin: 6px 0;
    background: transparent;
    border: 0.5px solid #7774778c;
    font-size: 0.8rem;
    width: 100%;
    border-radius: 4px;
    color: gray;
}
.signup-right .signup-formarea .form a {
  text-align: right;
  padding: 12px;
  font-size: 0.7rem;
}
.signup-right .signup-formarea .form .signup-btn {
  width: fit-content;
  padding: 7px 25px;
  margin:10px auto;
  border: none;
  transition: all 0.5s;
  border-radius: 5px;
  /* background: linear-gradient(328deg, #3820cf, #be05ef); */
  background-color: #0275d8
  ;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
}
.signup-main .signup-last {
  text-align: center;
  margin: 17px 0;

}
.signup-main .signup-last p {
    font-size: 10px;
    margin: 5px;
}
.signup-main .signup-last a {
  font-size: 13px;
}
.hr-line {
  width: 70%;
  margin: auto;
}
.p-input{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.p-input p{
  /* fontSize: "0.6rem",
  margin: "0 10px",
  color: "red", */
  font-size: 0.6rem;
  margin: 0 10px;
  color: red;

}

.signup-last-link{
    margin: 0 5px;
    color: black;
    font-size: 0.6rem;
}